@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cormorant Garamond", serif;
}

hr {
  border-color: black;
  width: 96%;
  margin-left: 2%;
}

.page-link {
  padding: 1px 0;
  @apply cursor-pointer;
}

.page-link:hover {
  padding: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.bg-wedding {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-wedding {
  margin-left: 50%;
}

.section {
  @apply min-h-screen flex flex-col justify-center;
}

.section:last-of-type {
  min-height: 85vh;
}
footer {
  min-height: 5vh;
}

.section-text {
  font-family: "Montserrat", sans-serif !important;
  @apply text-lg mx-4;
}

.section-text p {
  font-family: "Montserrat", sans-serif !important;
}

.section-title {
  position: relative;
  @apply text-4xl mx-4 mt-12 mb-6 md:mb-12;
}

@media (min-width: 768px) {
  .section-title span {
    padding-right: 10px;
    background: white;
  }

  .section-title::after {
    content: "/";
  }

  .section-title:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;
  }
}

.title-decoration {
  @apply my-4 pb-6 mx-4 block md:hidden;
}
